@model NBD_ClientManagementGood.Models.DesignBudget

@{
    ViewData["Title"] = "Details";
}

<div class="text-success">
    <div class="text-center">
        <h1>Design Budget Details</h1>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoursTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoursTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submitter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submitter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-success">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
</div>
