@model NBD_ClientManagementGood.Models.LabourUnit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Labour Unit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabourDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabourDepartment.DepartmentDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-success">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
</div>
