@model NBD_ClientManagementGood.Models.Client

@{
    ViewData["Title"] = "Details";
}
    <div class="text-success">
        <div class="text-center">
            <h1>Client Details</h1>
        </div>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FormalName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FormalName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MiddleName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.eMail)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.eMail)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.City.State)
                </dd>
            </dl>
        </div>
        <div>
        </div>
        <a asp-action="Edit" asp-route-id="@Model.ClientID" class="btn btn-outline-success">Update</a>
        <a asp-action="Index" class="btn btn-outline-success">Cancel</a>
    </div>
