@model NBD_ClientManagementGood.Models.Bid

@{
    ViewData["Title"] = "Details";
}



<div class="text-success">
    <div class="text-center">
        <h1>Bid Details</h1>
    </div>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BlueprintCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BlueprintCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EstStart)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EstStart)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EstEnd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EstEnd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-success">Edit</a> |
        <a asp-action="Index" class="text-black-50 btn btn-outline-success">Back to List</a>
    </div>
</div>
