@model IEnumerable<NBD_ClientManagementGood.Models.Bid>

@{
    ViewData["Title"] = "Index";
}

    <div class="text-center text-success">
        <h1>Bids</h1>
        <p>
            <a asp-action="Create" class="btn btn-outline-success text-center">Create New Bid</a>
        </p>
    </div>
<table class="table table-hover table-bordered bg-success">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlueprintCode)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.EstStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstEnd)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                Items
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlueprintCode)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.EstStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstEnd)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @foreach (var s in item.InvBids)
                {
                    @s.Item.Code <br />
                }
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-success">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-success">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
