@model NBD_ClientManagementGood.Models.Production

@{
    ViewData["Title"] = "Details";
}


<div class="text-success">
    <div class="text-center">
        <h1>Production Details</h1>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProEstHourly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProEstHourly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProEstMaterialCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProEstMaterialCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProEstTotalHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProEstTotalHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProBidPercent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProBidPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bid.BlueprintCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LabourDepartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LabourDepartment.DepartmentDescription)
        </dd>
    </dl>
</div>
<div class="form-group" style="width:330px;">
    <input type="submit" value="Update" style="float:left;margin-left:50px;" class="btn btn-outline-success" />
    <a asp-action="Index" style="float:right;margin-left:50px;" class="btn btn-outline-success">Cancel</a>
</div>
