@model IEnumerable<NBD_ClientManagementGood.Models.Production>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProHourly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProMaterialCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProTotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProBidPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProHourly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProMaterialCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProTotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProBidPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bid.BlueprintCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
