@model IEnumerable<NBD_ClientManagementGood.Models.Production>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center text-success">
    <h1>Productions</h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-success text-center">Create New Production</a>
    </p>
</div>
<table class="table table-hover table-bordered bg-success">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LabourDepartment)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ProEstHourly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProEstMaterialCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProEstTotalHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProBidPercent)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Bid)
            </th>
            <th>
                Labour
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody class="bg-light">
        @foreach (var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LabourDepartment.DepartmentDescription)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.ProEstHourly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProEstMaterialCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProEstTotalHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProBidPercent)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Bid.BlueprintCode)
            </td>
            <td>
                @foreach (var s in item.Labour)
                {
                    @s.LabourUnit.Description <br />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-success">Update</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-success">Details</a>
            </td>
        </tr>}
    </tbody>
</table>
