@model NBD_ClientManagementGood.Models.Plant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastOrdered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastOrdered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgNet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgNet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.List)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.List)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IS_OB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IS_OB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OOO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OOO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OO_OB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OO_OB)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
</div>
